@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes bounceSlow {
    0%, 100% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(0);
    }
  }
  
  .animate-fadeInUp {
    animation: fadeInUp 1s ease-in-out forwards;
  }
  
  .animate-bounceSlow {
    animation: bounceSlow 3s infinite;
  }
  